.header__category-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 47px 20px 42px 20px;
  padding: 0;
  /* This magic makes the scrolling happen */
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.header__category-list::-webkit-scrollbar {
  display: none;
}
