.card {
  width: 160px;
  height: 242px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(25, 38, 73, 0.08), -2px -2px 4px #FFFFFF, inset 1px 1px 5px rgba(24, 38, 72, 0.13), inset -2px -2px 5px #FFFFFF;
  border-radius: 26px;
  padding: 12px 20px;
  margin-bottom: 15px;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.card__figure {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: calc(50% - 18px);
}

.card__caption {
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.055em;
    text-transform: uppercase;
    color: #A9AEE5;
    padding: 0 0 10px 0;
    margin: 0;
    align-self: start;
}

.card__image {
  align-self: center;
}

.card__ellipse {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 3, 86, 0.1) 0%, rgba(0, 2, 75, 0) 100%);
  height: 18px;
  width: 91px;
}

.card__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 186.5%;
  color: #1A1F96;
  padding: 0;
  margin: 0;  
}

.card__title_text_small {
  font-size: 14px;
  padding-bottom: 4px;
}

.card__description {
  font-weight: normal;
  font-size: 9px;
  line-height: 151%;
  min-height: 40px;
  color: rgba(26, 31, 150, 0.6);
  padding: 0 0 14px 0;
  margin: 0;
}

.card__price-row {
  display: flex;
  justify-content: space-between;
}

.card__price {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1A1F96;
  margin: 0;
  padding: 0;
}
