.card-sale {
  width: 160px;
  height: 176px;
  background: #FF7D64;;
  border-radius: 26px;
  background-image: url('../images/circles.png');
  box-shadow: 0px 2px 4px rgba(25, 38, 73, 0.08), -2px -2px 4px #FFFFFF, inset 1px 1px 5px rgba(24, 38, 72, 0.13), inset -2px -2px 5px #FFFFFF;
  padding: 12px 0 23px;
  margin-bottom: 15px;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.card-sale__title {
  font-size: 12px;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.61);
}

.card-sale__text {
  font-weight: bold;
  font-size: 36px;
  line-height: 186%;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.card-sale__text:nth-of-type(2) {
  font-weight: normal;
  font-size: 12px;
  line-height: 186.5%;
  color: rgba(255, 255, 255, 0.61);
}

.card-sale__text:nth-of-type(3) {
  font-weight: bold;
  font-size: 18px;
  line-height: 186.5%;
  text-align: center;
  letter-spacing: 0.375em;
  text-transform: uppercase;
  color: #FFFFFF;
}
