.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__category-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 47px 20px 42px 20px;
  padding: 0; 
  /* This magic makes the scrolling happen */
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.header__category-list::-webkit-scrollbar {
  display: none; 
}

.header__category {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #5B5FDD;
  text-decoration: none;
  overflow: auto;
  padding-right: 27px;
}

.header__category_active {
  color: #FF7D64;
  text-decoration: underline;
  font-weight: bold;
}
