
.item {
	background: #ffffff;
	box-shadow: 0px 2px 4px rgba(25, 38, 73, 0.08), -2px -2px 4px #ffffff,
		inset 1px 1px 5px rgba(24, 38, 72, 0.13), inset -2px -2px 5px #ffffff;
	border-radius: 36px;
	padding-left: 30px;
	padding-right: 30px;
	display: flex;
  flex-direction: column;
  margin-top: 46px;
}

.item__title {
	font-weight: bold;
	font-size: 36px;
	line-height: 44px;
	color: #ff7c63;
  padding-top: 40px;
  padding-bottom: 31px;
  margin: 0;
}

.item__price-row {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__buttons {
	display: flex;
}

.item__button {
  border: none;
    background: #FFFFFF;
}

.item__price {
	font-size: 24px;
	line-height: 29px;
	color: #1a1f96;
}

.item__quantity {
	font-size: 18px;
	line-height: 22px;
	color: #1a1f96;
}

.item__description {
	font-weight: normal;
	font-size: 14px;
	line-height: 27px;
  color: rgba(26, 31, 150, 0.42);
  margin-top: 29px;
}
