.card__caption {
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  color: #a9aee5;
  padding: 0 0 10px 0;
  margin: 0;
  align-self: start;
}
